<h1 class="title">注文情報を参照する</h1>

<div class="container-stu">
  
  <%= form_with url: '/top/login', method: :post, local: true do |f| %>
    <p>
      <%= f.label :student_id, '学生IDを入力してください' %>
      <%= f.text_field :student_id, class: "stu-id" %>
    </p>

      <%= f.submit '参照', class: "student-btn" %>
      
  <% end %>
</div>