<h1 class="title"><%= @student.student_name %>様の注文情報</h1>

<h2><%= @student.products.product_type %></h2>

<% if @student.products.product_type == "Ⅰ型" %>
    <table class="product">
        <tr>
            <th>名前</th>
            <th>枚数</th>
            <th>値段（1着当たり）</th>
        </tr> 
        
        <tr>
            <td>カッターシャツ</td>
            <td>2</td>
            <td>30</td>
        </tr>
            
        <tr>
            <td>ブレザー</td>
            <td>1</td>
            <td>150</td>
        </tr> 
        
        <tr>
            <td>冬用ズボン</td>
            <td>1</td>
            <td>100</td>
        </tr> 
        
        <tr>
            <td>セーター</td>
            <td>1</td>
            <td>90</td>
        </tr> 
        
        <tr>
            <td>ネクタイ</td>
            <td>1</td>
            <td>10</td>
        </tr> 
        
        <tr>
            <td>ソックス</td>
            <td>2</td>
            <td>3</td>
        </tr> 
        
        <tr>
            <td>半袖カッターシャツ</td>
            <td>2</td>
            <td>30</td>
        </tr> 
        
        <tr>
            <td>夏用ズボン</td>
            <td>2</td>
            <td>100</td>
        </tr> 
    </table>
    <br><br>
    
<% else %>
    <table class="product">
        <tr>
            <th>名前</th>
            <th>枚数</th>
            <th>値段（1着当たり）</th>
        </tr> 
        
        <tr>
            <td>長袖ブラウス</td>
            <td>2</td>
            <td>30</td>
        </tr>
            
        <tr>
            <td>ブレザー</td>
            <td>1</td>
            <td>150</td>
        </tr> 
        
        <tr>
            <td>冬用スカート</td>
            <td>1</td>
            <td>100</td>
        </tr> 
        
        <tr>
            <td>セーター</td>
            <td>1</td>
            <td>90</td>
        </tr> 
        
        <tr>
            <td>リボン</td>
            <td>1</td>
            <td>10</td>
        </tr> 
        
        <tr>
            <td>ソックス</td>
            <td>2</td>
            <td>3</td>
        </tr> 

        <tr>
            <td>半袖ブラウス</td>
            <td>2</td>
            <td>30</td>
        </tr> 
        
        <tr>
            <td>夏用スカート</td>
            <td>2</td>
            <td>100</td>
        </tr> 
    </table>

