@charset 'UTF-8';

p{
    text-align: center;
}

/*---------学生がログインするときの画面---------*/
.title{
    color: #000000;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #555;
}

.container{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    padding: 120px 50px 120px 50px; 
    background-color: #c2eeff;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.stu-id{
  text-align: center;
  width: 80%;
  padding: 10px;
  font-size: 20px;
  margin:20px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button{
  display: block;
  margin: auto;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #6495ed;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/*----------------------------------------------*/
